html {
  box-sizing: border-box;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  margin: 0px;
}

body {
  background: url(../../../images/DCcomic.png) no-repeat center center fixed;
  height: 100%;
  background-size: cover;
  opacity: 50%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header{
  background-color: white;
  font-size: 3em;
  font-family: 'Ultra', serif;
  color: #1575E6;
  text-align: center;
  margin: .5em;
  border-radius: 8px;
}

.controls{
  background-color: white;
  margin: 1em;
  border-radius: 8px;
  color: #1575E6;
}

.questions {
  background-color: white;
  margin: 1em;
  min-height: 20vh;
  border-radius: 8px;
  color: #1575E6;
  text-align: center;
}

button{
  background-color: white;
  margin: 1em;
  border-radius: 8px;
  color: #1575E6;
  text-align: center;
  border-color:  #1575E6;
  font-weight: 800;
}