@import '../base/colours';

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.controls__list{
    margin: 0em 1em 0em 1em;
    background-color: $background-color;
    border-color:  $font-color;
    color: $font-color;
}

#go {
    margin: 0em;
}